@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.AnchorPane {
     -fx-background: linear-gradient(#E6A6BA, #DE6694);
}

.text {
    -fx-font-family: "Pangolin", cursive;
    -fx-effect: dropshadow(gaussian,rgba(0,0,0,0.6),0,0.0,1,1);
}

.bnt {
    -fx-background-color:#D993AE;
    -fx-font-size: 25px;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.label {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.textfield {
    -fx-background-color:#e6a6ba;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-text-fill: white;
    -fx-font-family: "Pangolin", cursive;
    -fx-font-size: 12px;
}